h1 {
    color: blue;
}
.tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1ff;
}


.tabs button {
    background-color: inherit;
    border: none;
    padding: 14px 16px;
}

.gutters {
    display: inline-block;
    width: 60%;
    margin-left: 20%;
}

.gutters-var {
    display: inline-block;
    width: 80%;
    margin-left: 10%;
}

.image {
    margin-left: 20%;
    padding: 6px;
    border: 2px solid #aaa;
    width: 33%;
    color: blue;
    font-size: 20px;
}

.title{
    border: 2px solid #aaa;
    width: 100%;
    color: blue;
    font-size: 20px;
}

.buy {
    border: 2px solid #aaa;
    width: 33%;
}

#bookSearchBar {
    width: 80%;
    margin-left: 10%;
    border: 2px solid #aaa;
}

#brSearchBar {
    width: 80%;
    margin-left: 10%;
    border: 2px solid #aaa;
}

.tabs button:hover {
    background-color: #0000ff;
    color: #ffffff;
}

.tabs button.active {
    background-color: #0000ee;
    color: #ffffff; 
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #f1f1ff;
}